body {
    background-color: #0c0c1c;
    text-align: center;
}

.button {
    background-image: url('../images/pina2.png');
    background-color: #0c0c1c;
    background-size: 100% 100%;
    border: none;
    height: 320px;
    width: 320px;
}

.button:focus {
    outline: 0;
}

.button:hover {
    background-size: 90% 90%;
    background-repeat: no-repeat;
}

#cuadrito {
    width: 50px;
    padding: 0;
}

#contador {
    font-size: 50px;
    font-weight: bold;
    color: #a3bad8;
}

#id1,
#id3,
#id5,
#id7,
#id9 {
    background-image: url('../images/regalo3.png');
    background-size: 100% 100%;
    background-color: #0c0c1c;
    outline: 0;
    border: none;
    height: 50px;
    width: 50px;
}

#id1:hover,
#id3:hover,
#id5:hover,
#id7:hover,
#id9:hover {
    background-image: url('../images/regaloabierto.png');
    background-size: 100% 100%;
    background-color: #0c0c1c;
    outline: 0;
    border: none;
    height: 50px;
    width: 50px;
}

#id1,
#id2,
#id4,
#id6,
#id8,
#id10 {
    background-image: url('../images/regalo.png');
    background-size: 100% 100%;
    background-color: #0c0c1c;
    outline: 0;
    border: none;
    height: 50px;
    width: 50px;
}

#granregalo {
    background-image: url('../images/granregalo.png');
    background-size: 100% 100%;
    background-color: #0c0c1c;
    outline: 0;
    border: none;
    height: 80px;
    width: 80px;
}